*.iml
.gradle
/gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/local.properties
/gradlew
/gradlew.bat
src/main/com.example.taras.cleanarchitecturetemplate/
src/main/java/
buildSrc/build/
data/src/main/java/
